html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  --green: rgb(230, 250, 224);
  --white: rgb(240, 250, 241);
  --darkGreen: rgb(0, 104, 0);
  background: linear-gradient(
    33.6deg,
    var(--green) 0% 9%,
    var(--white) 11% 19%,
    var(--green) 21% 29%,
    var(--white) 31% 39%,
    var(--green) 41% 49%,
    var(--white) 51% 59%,
    var(--green) 61% 69%,
    var(--white) 71% 79%,
    var(--green) 81% 89%,
    var(--white) 91% 100%
  );
  background-repeat: repeat;
  position: relative;
  background-size: 200px 200px;
  overflow: hidden;
}
@font-face {
  font-family: Sunday;
  src: url(sunday.otf);
}
* {
  padding: 0;
  margin: 0;
  user-select: none;
}
*[onclick$="()"] {
  cursor: pointer;
}
div[onclick^="startGame"] {
  cursor: pointer;
}
h1 {
  font-family: "Sunday", sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px black;
  color: green;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
}
.opening-card {
  height: 33%;
  max-height: 400px;
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}
.opening-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 50%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.678);
  border-top: 3px solid var(--darkGreen);
  border-right: 3px solid var(--darkGreen);
  border-left: 3px solid var(--darkGreen);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: -1;
}
.opening-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid var(--darkGreen);
  border-right: 3px solid var(--darkGreen);
  border-left: 3px solid var(--darkGreen);
  backdrop-filter: blur(5px);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: -1;
}
.open-card-anim::before {
  animation-name: go;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.open-card-anim::after {
  animation-name: go2;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.button-start {
  width: 60%;
  min-width: 100px;
  border: 4px outset var(--darkGreen);
  background: var(--white);
  border-radius: 10px;
  height: 65px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  overflow: clip;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  box-shadow: 0px 0px 3px black inset;
  color: black;
  transition-duration: 0.5s;
  p {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition-duration: 0.5s;
  }
}
.slashdiv {
  height: 100%;
  width: 80%;
  left: -100%;
  background: rgba(3, 155, 3, 0.699);
  position: absolute;
  z-index: 0;
  transform: skew(-30deg);
  transition: 1s;
}
.button-start:hover {
  background: rgb(216, 216, 216);
  width: 65%;
  .slashdiv {
    left: 110%;
  }
  p {
    font-family: "Fleur De Leah", cursive;
    color: rgb(88, 25, 0);
    font-weight: 700;
    transition-duration: 0.5s;
  }
}
@keyframes go {
  0% {
    transform: none;
    transform-origin: center;
    border-width: 3px;
  }
  20% {
    transform: scaleX(1.6) scaleY(1);
    transform-origin: center;
    border-width: 1px;
  }
  21% {
    transform: scaleX(1.6) scaleY(1);
    transform-origin: bottom;
  }
  40%,
  100% {
    transform: scaleX(1.6) scaleY(2.5);
    transform-origin: bottom;
  }
}
@keyframes go2 {
  0% {
    transform: none;
    transform-origin: center;
    border-width: 3px;
  }
  20% {
    transform: scaleX(1.6) scaleY(1);
    transform-origin: center;
    border-width: 1px;
  }
  21%,
  45% {
    transform: scaleX(1.6) scaleY(1);
    transform-origin: top;
  }
  65%,
  100% {
    transform: scaleX(1.6) scaleY(2.5);
    transform-origin: top;
  }
}
.fade-in {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation-name: fadeOut;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.buttons {
  position: relative;
  height: 90px;
  width: 100%;
}
.buttons .button-start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.button-row {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.button-row .m-1 {
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  cursor: pointer;
  border: 4px outset var(--darkGreen);
  color: black;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: clip;
}
.subSlashDiv,
.againSlash {
  height: 100%;
  width: 80%;
  left: -110%;
  background: rgba(3, 155, 3, 0.699);
  position: absolute;
  z-index: 0;
  transform: skew(-30deg);
  transition: 1s;
  z-index: 0;
}
.button-row .m-1 p,
#again p {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition-duration: 0.5s;
  font-size: 18px;
}
.button-row .m-1:nth-child(2) {
  border: 4px outset rgb(145, 118, 0);
  .subSlashDiv {
    background: rgba(134, 109, 0, 0.404);
  }
}
.button-row .m-1:nth-child(3) {
  border: 4px outset rgb(145, 0, 0);
  .subSlashDiv {
    background: rgba(134, 0, 0, 0.404);
  }
}
.button-row .m-1:nth-child(4) {
  border: 4px outset rgb(180, 0, 141);
  .subSlashDiv {
    background: rgba(134, 0, 134, 0.404);
  }
}
.button-row .m-1:hover {
  background: rgb(216, 216, 216);
  width: 65%;
  .subSlashDiv {
    left: 110%;
  }
  p {
    font-family: "Fleur De Leah", cursive;
    color: rgb(88, 25, 0);
    font-weight: 700;
    transition-duration: 0.5s;
  }
}
.openedCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameText {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wordCont {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  word-break: break-all;
  font-family: "Montserrat", sans-serif;
}
canvas {
  width: 90%;
  aspect-ratio: 4/2.3;
  min-height: 200px;
  min-width: 350px;
  /* border: 1px solid red; */
  border-bottom: 2px solid black;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
  margin-bottom: 15px;
}
.difficulty {
  width: 90%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  border-radius: 5px;
  margin-bottom: 5px;
}
#easy {
  background: rgba(0, 134, 0, 0.404);
  border: 3px outset var(--darkGreen);
}
#medium {
  background: rgba(134, 109, 0, 0.404);
  border: 3px outset rgb(145, 118, 0);
}
#hard {
  background: rgba(134, 0, 0, 0.404);
  border: 3px outset rgb(145, 0, 0);
}
#ridiculous {
  background: rgba(134, 0, 134, 0.404);
  border: 3px outset rgb(180, 0, 141);
}
.input-row {
  display: flex;
  justify-content: center;
  width: 90% !important;
  /* border: 1px solid red; */
}
input {
  width: 70% !important;
  margin-right: 10px;
  display: block;
  border-radius: 10px;
  padding: 3px;
  padding-left: 10px;
  border: 2px solid green;
  font-family: "Montserrat", sans-serif;
}
input:focus {
  outline: 0px;
  border: 3px solid rgb(0, 77, 10);
}
.button-submit {
  height: 50px;
  width: 30%;
  display: block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  cursor: pointer;
  border: 4px outset var(--darkGreen);
  color: black;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: clip;
  transition: 0.5s;
}
.button-slashdiv {
  height: 100%;
  width: 80%;
  left: -110%;
  background: rgba(3, 155, 3, 0.699);
  position: absolute;
  z-index: 0;
  transform: skew(-30deg);
  transition: 1s;
  z-index: 0;
}
.button-submit p {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  transition-duration: 0.5s;
  font-size: 18px;
}
.button-submit:hover {
  background: rgb(216, 216, 216);
  .button-slashdiv {
    left: 110%;
  }
  p {
    font-family: "Fleur De Leah", cursive;
    color: rgb(88, 25, 0);
    font-weight: 700;
    transition-duration: 0.5s;
  }
}
.wordContainer {
  position: relative;
}
.off {
  pointer-events: none;
}
.close-card-anim::before {
  animation-name: go;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
.close-card-anim::after {
  animation-name: go2;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
.winText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#again {
  height: 50px;
  width: 65%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  cursor: pointer;
  border: 4px outset var(--darkGreen);
  color: black;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: clip;
}
#again:hover {
  background: rgb(216, 216, 216);
  width: 65%;
  .againSlash {
    left: 110%;
  }
  p {
    font-family: "Fleur De Leah", cursive;
    color: rgb(88, 25, 0);
    font-weight: 700;
    transition-duration: 0.5s;
  }
}
.graveyard {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 70px;
  background: url(grave.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: clip;
  filter: drop-shadow(0px 0px 1px var(--darkGreen));
  transition: 0.3s;
}
.graveyard:hover {
  filter: drop-shadow(0px 0px 3px var(--darkGreen));
}
.rightWord {
  color: var(--darkGreen);
}
.wrongWord {
  color: maroon;
}
